@font-face {
   font-family: 'Gotham';
   src: url("Gotham-Light.otf");
}

@font-face {
  font-family: 'Gotham Bold';
  src: url("Gotham-Bold.otf");
}

* {
  font-family: Gotham, sans-serif;  
  box-sizing: border-box;  
  margin: 0px;
  padding: 0px;
}


.faixa-superior {
  background: #045C38;   
  height: 51px; 
  display: flex;  
  align-items: center;  
}

.faixa-superior p {
  color: #fff;     
  font-size: 0.9rem;  
}

.faixa-superior > p:first-child {
  text-align: center;  
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;  
}

.faixa-icones {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 130px; 
}

.faixa-texto {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;  
  white-space: nowrap;
  padding-left: 5px;
}

.faixa-texto p:last-child{
  text-transform: uppercase;
  font-family: 'Gotham Bold';  
}

.barra-pesquisa {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap;      
  padding: 10px;
}

.logo {
  margin-right: 50px;
}

#divBusca{
  display: flex;
  background-color: rgba(196, 196, 196, 0.21);
  border:none;  
  width:440px;
  margin-right: 50px;
  box-sizing: border-box;
  height: 40px;  
}

#txtBusca{  
  background-color: rgba(196, 196, 196, 0.21);
  padding: 5px;
  padding-left:30px;  
  font-size:18px;
  border: none; 
  height: 100%;
  width:440px;
}

#btnBusca {
  height: 100%;
  cursor: pointer;
}

.barra-icones {
  display: flex;  
  flex-wrap: wrap;
  align-items: center;  
}

.barra-icones img:last-child {
  margin-left: 15px;
}

.barra-texto {
  margin-right: 40px;
  margin-left: 10px;  
}

.barra-texto p:last-child {
  font-family: 'Gotham Bold';
}

nav {    
  margin-top: 20px;
  margin-bottom: 10px;  
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;  
  margin-right: 200px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;    
  padding: 10px;
}

nav a:hover {
  color: #fff;  
  background-color: #AC2421;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 20px;
}

.btn-nav {
  margin-left: 50px;
  background-color: #3BA46B;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.container-principal{
    position:relative;
    text-align:center;    
}

.container-principal img {
  width: 100%;
  height: 100%;
}

.btn-comprar {
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    width:220px;             /* largura para o botão */
    height:40px;
    padding:0;
    margin:40px 0 0 -300px;   /* margem à esquerda e ao topo metade da medida do botão */
    border:0 none;
    color: #fff;
    background-color: #3BA46B;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.btn-mais {
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    width:220px;             /* largura para o botão */
    height:40px;              /* altura para o botão */
    padding:0;
    margin:40px 0 0 20px;   /* margem à esquerda e ao topo metade da medida do botão */
    border:0 none;
    color: #fff;
    background-color: #AC2421;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}


.icones-coracao {
  position:absolute;
  z-index:1;
  display: flex;
  top:84%;
  left:46%;  
  padding:0;    
  width: 38px;
  height: 25px;  
  margin-left: -112px;
}

.icones-coracao img {
  margin-left: 25px;
}

.container-beneficios {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 43px;
}

.beneficio-logo {
  height: 55px;
  width: 45px;
  margin-bottom: 13px;
} 

.container-beneficios h2 {
  font-size: 42px;
  text-transform: uppercase;  
  text-align: center;
  font-family: 'Train One', cursive;
  color: #045C38;
}
.container-beneficios h2:last-child {
  text-align: center;
  margin-bottom: 17px;
}

.item-beneficios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;  
}

.item-beneficios aside {
  margin-right: 50px;
}

.item-beneficios img {
  height: 115px;
  width: 115px;
}

.item-beneficios p {
  text-align: center;
}

.container-farofa {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 43px;
}

.farofa-logo {
  height: 55px;
  width: 45px;
  margin-bottom: 13px;
}

.item-farofa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.container-farofa h1 {
  font-size: 42px;
  text-transform: uppercase;  
  text-align: center;
  font-family: 'Train One', cursive;
  color: #045C38;
}

.container-farofa h2 {
  font-size: 20px;
  margin-top: 10px;
}

.item-farofa aside {
  margin: 50px
}

.item-farofa img {
  height: 372px;
  width: 250px;  
}

.item-farofa h3 {
  font-family: Gotham Bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-farofa span {
  font-family: Gotham Bold;
  font-size: 25px;
  line-height: 22.1px;
  margin-left: 75px;
}

.item-farofa p {
  font-size: 20px;
  color: #3BA46B;
  margin-top: 15px;
}

.container-kit {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 43px;
}

.kit-logo {
  height: 55px;
  width: 45px;
  margin-bottom: 13px;
}

.container-kit h1 {
  font-size: 42px;
  text-transform: uppercase;  
  text-align: center;
  font-family: 'Train One', cursive;
  color: #045C38;
}

.container-kit h2 {
  font-size: 20px;
  margin-top: 10px;
}

.item-kit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}

.item-kit img {
  width: 197px;
  height: 185.22px;
}

.item-kit aside h3 {
  font-family: Gotham Bold;
  font-size: 18px;
  line-height: 15.47px;  
  text-align: center;
}

.item-kit aside p {
  text-align: center;
  line-height: 14.28px;
  margin-top: 10px;  
  margin-bottom: 15px;
}

.item-kit aside p:first-child {
  margin-bottom: 20px;
}

.item-kit aside p:last-child {
  font-size: 18px;
  color: #3BA46B;
  margin-top: 15px;
  line-height: 16.66px;  
}

.item-kit aside span {
  font-family: Gotham Bold;  
  font-size: 25px;
  line-height: 22.1px;  
  text-align: center;
  margin-left: 38px;  
}

.banner-kit {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-evenly;
  width: 100%;   
}

.banner-kit img {
    width: 482px;
    height: 274px;
    margin-top: 20px; 
}

.container-comentario {
  background-image: url("img/fundo-secao-comentario.png");
  display: flex;
  flex-direction: column;  
  margin-top: 100px; 
}

.container-comentario h1 {
  font-size: 42px;
  text-transform: uppercase;  
  text-align: center;
  font-family: 'Train One', cursive;
  color: #FEFEFE;
  margin-top: 80px;
}

.container-comentario h2 {
  line-height: 19.04px;
  font-size: 18px;
  color: #FEFEFE;
  text-align: center;
  margin-top: 20px;
  letter-spacing: .2rem;
}

.item-comentario {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}

.item-comentario aside {
  display: flex;
  align-items: center;
  background-color: #FEFEFE;
  width: 679px;
  height: 321px;
  margin-bottom: 50px;
}

.item-comentario img {
  width: 172.67px;
  height: 157px;
  margin-left: 20px;
}

.comentario-texto {
  margin-left: 20px;
}

.comentario-texto p {
  font-size: 22px; 
  margin-bottom: 5px; 
}

.comentario-texto span {
  color: #3BA46B;
  font-family: Gotham Bold;  
}

.container-ingrediente {
  display: grid;    
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 100px;   
  margin-top: 50px; 
}

.img-coracao {
  grid-column: 2 / 3; 
}

.ingrediente-texto {
  grid-column: 3 / 7;  
  display: flex;
  flex-direction: column;    
}

.ingrediente-logo {
  margin: 0 auto;
  height: 45px;
  width: 55px;
}

.ingrediente-texto h1 {
  font-size: 30px;
  text-transform: uppercase;    
  font-family: 'Train One', cursive;
  color: #045C38;   
  text-align: center;
}

.ingrediente-texto p {
  text-align: center;
  margin-top: 30px;
}

.ingrediente-texto p:first-child {
  margin-top: 20px;
  margin-bottom: 20px;  
}

.ingrediente-texto p:last-child {
  margin-top: 40px;  
}

@media only screen and (max-width: 909px) {

  .container-ingrediente {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }    

  .ingrediente-texto {
    margin-left: 20px;
    margin-right: 10px;
  }
}

.container-banner {
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;  
  margin-top: 50px;
}

.img-grupo {
  display: flex;
  flex-direction: column;
  padding: 10px;  
}

.img-grupo img {  
  border-radius: 10px;
  padding: 10px;
  width: 619px;
  height: 320px;
}

.img-coluna {
  height: 631px;
  width: 453px;
  border-radius: 10px;
}

@media only screen and (max-width: 1134px) {

.img-grupo img {    
    width: 360px;
    height: 216px;
}

.img-coluna {
      height: 445px;
    width: 342px; 
}
}

.container-galeria {
  display: flex;
  flex-direction: column;  
  align-items: center;
  flex-wrap: wrap;
}

.logo-galeria {
  height: 55px;
  width: 45px;
}

.container-galeria h1 {
  font-size: 30px;
  text-transform: uppercase;    
  font-family: 'Train One', cursive;
  color: #045C38;   
  text-align: center;
}

.container-galeria h2 {
  line-height: 19.04px;
  font-size: 18px;
  margin-top: 10px;  
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: .1rem;
}

.item-galeria {
  display: grid;    
  grid-template-columns: 1fr 1fr 1fr; 
  
}

.item-galeria aside {
  padding: 10px;
}

@media only screen and (max-width: 864px) {

  .item-galeria {     
    grid-template-columns: 1fr 1fr;   
}

}

@media only screen and (max-width: 587px) {

  .item-galeria {
    grid-template-columns: 1fr;   
}

}